.challengeContainer {
    width: 50vw;
    height: 25vw;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challengeContainer h2 {
    color: var(--text);
    font-size: 3vw;
}

.challengeContainer div {
    font-size: 2vw;
    padding: 2rem 3rem;
    color: var(--text);
    margin: 1rem 0;
    background: var(--card);
    border-radius: 0.25rem;
    box-shadow:  4px 4px 4px rgba(0,0,0,0.2),
                -2px -2px 2px rgba(0,0,0,0.1);    
    position: relative;
}

.challengeContainer div:nth-child(even) {
    left: -100%;
    transition: left 0.4s ease;
}

.challengeContainer div:nth-child(odd) {
    left: 100%;
    transition: left 0.4s ease;
}

.challengeContainer div:nth-child(-n + 3) {
    left: 0 !important;
}

@media only screen and (max-width: 601px) {
    .challengeContainer {
        width: 22rem;
    }

    .challengeContainer h2 {
        text-align: center;
    }
}