.challengeContainer {
    width: 50rem;
    height: 25rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--text);
}

.challengeContainer h2 {
    color: var(--text);
}

.challengeContainer div {
    font-size: 2rem;
    padding: 2rem 3rem;
    color: var(--text);
    margin: 1rem 0;
    background: var(--card);
    border-radius: 0.25rem;
    box-shadow: 0 8px 32px 0 #7B2D2680;
}