.challengeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 30rem;
    margin: 3rem 0 5rem;
}

.soundButton {
    width: 12rem;
    font-size: 1.25rem;
    font-family: 'Quicksand', sans-serif;
    color: var(--text);
    background: var(--card);
    border: none;
    border-radius: 0.5rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
    box-shadow:  4px 4px 4px rgba(0,0,0,0.2),
                -2px -2px 2px rgba(0,0,0,0.1);
}

.soundButton:active {
    padding: 1.3rem 2.8rem;
    margin: 0.2rem;
    width: 11.6rem;
    background: var(--highlight);
}

.soundButton:hover {
    background: var(--highlight);
}

@media only screen and (max-width: 601px) {
    .challengeContainer {
        width: 22rem;
        margin: 3rem 0;
    }
}