.challengeContainer {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 7vw 0;
}

.image {
    height: 20vw;
    width: 50vw;
    background-image: url("./images/Sunny\ Beach.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.challengeContainer p {
    background: rgba(0,0,0,0.6);
    height: 4vw;
    width: 6vw;
    text-align: center;
    line-height: 4vw;
    font-size: 2vw;
    color: var(--text);
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media only screen and (max-width: 601px) {
    .image {
        width: 22rem;
    }
}

@media only screen and (min-width: 602px) and (max-width: 769px) {
    .image {
        width: 100%;
    }
}