.image {
    height: 15rem;
    width: 40rem;
    background-image: url("./images/Sunny\ Beach.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.image p {
    background: rgba(0,0,0);
    height: 2rem;
    width: 4rem;
    text-align: center;
    line-height: 2rem;
    color: var(--text);
    opacity: 1;
}