.challengeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--card);
    background: var(--highlight);
    padding: 1vw 3vw;
    border-radius: 0.25vw;
}

.tagline {
    font-family: 'Quicksand', sans-serif;
    margin: 1vw 0;
    font-size: 3vw;
}

.joke {
    font-size: 2vw;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin: 1vw 0 0;
    white-space: pre-wrap;
}

.challengeContainer button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5vw;
    margin: 2vw 0 1vw;
    background: var(--text);
    border: none;
    border-radius: 0.25vw;
    padding: 1vw 2vw;
    color: var(--card);
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.2),
    -0.25rem -0.25rem 0.25rem rgba(0,0,0,0.1);
}

.challengeContainer button:active {
    margin: 2.2vw 0.2vw 1.2vw;
    padding: 0.8vw 1.8vw;
}

@media only screen and (max-width: 601px) {
    .tagline {
        font-size: 1rem;
    }

    .joke {
        font-size: 1.5rem;
    }

    .challengeContainer button {
        font-size: 1rem;
    }
}