.challengeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--card);
    background: var(--highlight);
    padding: 1rem 3rem;
    border-radius: 0.25rem;
}

.tagline {
    font-family: 'Quicksand', sans-serif;
    margin: 1rem 0;
}

.joke {
    font-size: 2rem;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin: 1rem 0 0;
    white-space: pre-wrap;
}

.challengeContainer button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
    background: var(--text);
    border: none;
    border-radius: 0.25rem;
    padding: 1rem 2rem;
    color: var(--card);
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.2),
    -0.25rem -0.25rem 0.25rem rgba(0,0,0,0.1);
}

.challengeContainer button:active {
    margin: 2.2rem 0.2rem 1.2rem;
    padding: 0.8rem 1.8rem;
}

@media only screen and (max-width: 601px) {
    .tagline {
        font-size: 1rem;
    }

    .joke {
        font-size: 1.5rem;
    }

    .challengeContainer button {
        font-size: 1rem;
    }
}