.cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56rem;
}

@media only screen and (max-width: 601px) {
    .cardsContainer {
        width: 22rem;
        flex-direction: column;
    }
}

@media only screen and (min-width: 602px) and (max-width: 769px) {
    .cardsContainer {
        width: 100%;
    }
}