.container {
    display: flex;
    align-items: center;
    gap: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.photo {
    height: 30rem;
    border-radius: 0.25rem;
    box-shadow: 0 8px 32px 0 #7B2D2680;
}

.contactText {
    width: 30rem;
    color: var(--text);
}

.contactText h1 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Quicksand-SemiBold', sans-serif;
}

.contactText p {
    font-size: 1.5rem;
    margin: 2rem 0;
    line-height: 2rem;
    font-family: 'Quicksand-Regular', sans-serif;
}

.logo {
    width: 3rem;
}
