.container {
    display: flex;
    align-items: center;
    gap: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.photo {
    height: 40vw;
    border-radius: 0.5vw;
    box-shadow:  4px 4px 4px rgba(0,0,0,0.2),
                -2px -2px 2px rgba(0,0,0,0.1);
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactText {
    width: 40vw;
    color: var(--text);
}

.contactText h1 {
    font-size: 5vw;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Quicksand-SemiBold', sans-serif;
}

.contactText p {
    font-size: 2.25vw;
    margin: 3vw 0;
    line-height: 2.7vw;
    font-family: 'Quicksand-Regular', sans-serif;
}

.email {
    color: var(--highlight);
    font-family: 'Quicksand-Regular', sans-serif;
}

.logo {
    width: 4.5vw;
}

@media only screen and (max-width: 601px) {
    .container {
        flex-direction: column-reverse;
        position:static;
        top:0;
        left:0;
        transform:none;
        margin-top: 3rem;
        gap: 2rem;
    }

    .contactText {
        width: 21rem;
    }

    .contactText h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    .contactText p {
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 1rem 0;
    }

    .logo {
        width: 2rem;
    }

    .photo {
        height: 17rem;
    }
}

@media only screen and (min-width: 602px) and (max-width: 769px) {
    .container {
        gap: 2rem;
    }

    .contactText {
        width: 21rem;
    }

    .contactText h1 {
        font-size: 2rem;
    }

    .contactText p {
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 1rem 0;
    }

    .photo {
        height: 17rem;
    }
}