/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
============================= */

/* 1. Global Styles
============================= */

div.teaCozy > * {
    box-sizing: border-box;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* 2. Typography Styles
============================= */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 30px;
}

h5 {
    font-size: 18px;
}

p {
    font-family: Helvetica, sans-serif;
}

a {
    font-family: Helvetica, sans-serif;
    text-decoration: underline;
}

/* 3. Structure Styles
============================= */

/* 4. Module Styles
============================= */

/* Site Navigation */

.heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background) !important;
    > h1 {
        font-size: 4vw;
        font-family: 'Quicksand-Bold', sans-serif;
        color: var(--text);
        margin: 1rem 0;
    }
    > a {
        width: 25vw;
        height: 4.5vw;
        background-size: 200% 200%;
        background-image: linear-gradient(to right, var(--highlight) 50%, var(--card) 50%);
        background-position: right;
        color: var(--text);
        font-family: 'Quicksand', sans-serif;
        border: solid 1px var(--text);
        border-radius: 0.5vw;
        font-size: 2vw;
        margin: 1rem 0;
        transition: background-position 0.5s;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        line-height: 4.5vw;
    }
    > a:hover {
        background-position: left;
    }
}

.description {
    width: 80vw;
    background-color: var(--background) !important;
    margin-bottom: 3vw;
    > p {
        font-size: 2vw;
        font-family: 'Quicksand-Regular', sans-serif;
        color: var(--text);
        text-align: left;
        line-height: 2.5vw;
    }
}

.header {
    /* position: fixed; */
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 1;
}

.logo {
    max-height: 50px;
    margin-left: 10px;
}

.headerRight {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.nav {
    list-style: none;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

.nav li {
    margin-left: 22px;
}

.nav li a {
    color: seashell;
    text-decoration: none;
}

/* Site Footer */

.footer {
    float:left;
    margin-left:20px;
}

/* 5. Component Styles
============================= */


/* 6. Page Styles
============================= */

.container {
    position:relative;
    /* top: 69px;  */
    left: auto;
}

/* Mission */

.missionContainer {
    display: flex;
    justify-content: center;
}

.mission {
    height: 700px;
    width: 1200px;
    background-image:url("./resources/images/img-mission-background.jpg");
    display: flex;
    align-items: center;
}

.missionHeading {
    background-color: black;
    width: 1200px;
    padding: 20px 0 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
}

.missionHeading h2,
.missionHeading h4 {
    margin-top: 0;
    margin-bottom: 0;
}

/* Tea of the Month */

.featuredTeaContainer {
    display: flex;
    justify-content: center;
}

.featuredTea {
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tea {
    height: 200px;
    width: 300px;
    margin: 0 10px;
}

.tea:hover {
    padding: 5px 5px;
    cursor:pointer;
}

.teaList h4 {
    margin-top: 10px;
}

/* Locations */

.locationContainer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.locationBackground {
    height: 500px;
    width: 1200px;
    background-image: url("./resources/images/img-locations-background.jpg");
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.locationBackground h2 {
    background: none;
    margin: 0;
}

.locationList {
    display: flex;
    justify-content: center;
    background: none;
}

.location {
    height: 300px;
    width: 300px;
    background-color: black;
    opacity: 1;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact {
    height: 200px;
}