@font-face {
    font-family: 'Quicksand-Bold';
    src: local("Quicksand-Bold"), url("./resources/fonts/Quicksand/static/Quicksand-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: local("Quicksand-Medium"), url("./resources/fonts/Quicksand/static/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Quicksand-Light';
    src: local("Quicksand-Light"), url("./resources/fonts/Quicksand/static/Quicksand-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Quicksand-SemiBold';
    src: local("Quicksand-SemiBold"), url("./resources/fonts/Quicksand/static/Quicksand-SemiBold.ttf") format("truetype");
}

@font-face {
font-family: 'Quicksand-Regular';
    src: local("Quicksand-Regular"), url("./resources/fonts/Quicksand/static/Quicksand-Regular.ttf") format("truetype");
}

:root {
    --nav-height: 50px;

    --background: #373C43;
    --card: #4F555C;
    --accent: #D6B89D;
    --text: #F0F3F5;
    --highlight: #E3936C;

    background-color: var(--background);
}

* {
    box-sizing: border-box;
}

nav {
    height: var(--nav-height);
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.3);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin: auto;
}

nav a {
    color: var(--text);
    text-decoration: none;
    padding: 0.75rem 0.5rem;
    display: inline-block;
    position: relative;
    font-family: 'Quicksand-Regular', sans-serif;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.25rem;
    border-radius: 0.25rem;
    bottom: 0;
    left: 0;
    background-color: var(--highlight);
    transform-origin: center bottom;
    transition: transform 0.25s ease-out;
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: center bottom;
}

@media only screen and (max-width: 601px) {
    nav {
        font-size: 1.25rem;
    }
}