.wrapper {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-top: 1.5rem;
}

.aboutMeImages {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0 1rem;
    width: 26rem;
    margin: 2rem 0;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMeImages img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
    box-shadow:  4px 4px 4px rgba(0,0,0,0.2),
    -2px -2px 2px rgba(0,0,0,0.1);
}

.aboutMeText {
    width: 45rem;
    margin-top: 2rem;
    color: var(--text);
}

.aboutMeText h1 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Quicksand-SemiBold', sans-serif;
}

.aboutMeText p {
    font-size: 1.5rem;
    margin: 2rem 0;
    line-height: 2rem;
    font-family: 'Quicksand-Regular', sans-serif;
}

.aboutMeText a {
    font-size: 1.5rem;
    margin: 2rem 0;
    line-height: 2rem;
    font-family: 'Quicksand-Regular', sans-serif;
    color: var(--highlight);
    text-decoration: none;
}

.aboutMeText a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 601px) {
    .wrapper {
        padding: 0;
    }
    .aboutMeImages {
        position: absolute;
        z-index: -1;
        margin: 2rem 0;
        width: 90%;
        overflow: hidden;
        max-height: 55rem;
    }

    .aboutMeImages img {
        box-shadow: none;
    }

    .aboutMeText {
        margin-top: 0rem;
        width: 100%;
        padding: 2rem;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);
    }

    .aboutMeText h1 {
        font-size: 2rem;
    }

    .aboutMeText p {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 1.5rem 0;
    }

    .aboutMeText a {
        font-size: 1rem;
        margin: 0;
        line-height: 1.5rem;
    }
}